
@{
    ViewBag.Title = "Completed";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Completed!</h2>

<p>Your shipping details has been submited,
    and we will send your goods
    as soon as we receive the payment!</p>